.container {
    margin-left: 4rem;
    padding-top: 13rem;
    width: 60vw;
  }

  .container h1{
   line-height: normal;
   padding-bottom: 1rem;
}

.container h2{
    font-family: Moderat-Medium, sans-serif;
    padding-bottom: 10px;
}

.container p, .container ul li{
    font:1.125rem Addington-Regular-Italic, serif;
}