.container{
  display: flex;
  align-items: center;
  margin: 0 4rem;
  gap: 20px;
}

.breadcrumb{
    margin: 2.5rem;
}

#reservation-form{
    width: 100%;
}

#reservation-form, .billet{
    background-color: #E5E4DC;
    height: 55vh;
}

.field-container {
    display: flex;
    margin: 2.5rem;
    
}

.form-step {
    display: none;
    width: 33vw;
    padding-right: 20px;
}

.form-step.active {
    display: block;
}

.billet {
    width: 300px;
}

.billet img {
    width: 300px;
    height: 200px;
    margin-bottom: 2rem;
}

#billetTicket{
    margin: 0 2rem;
}

.breadcrumb span.active {
    font-weight: bold;
}