body{
    background-color: var(--grey-color) !important;
}

.err404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.err404 p{
    color: var( --home-color);
}

.retour-accueil{
    text-decoration: underline;
}

.err404_h1{
    font-size: 50vw;
    letter-spacing: -1rem;
    color: var( --home-color);
}

.nbr_itl{
    font-style: italic;
}

@media(min-width:800px){
   .err404_h1{
        font-size: 30vw;
        letter-spacing: -2.5rem;

    }
}