.titre-1 {
    text-align: center;
    width: 80vw;
    margin: auto;
}


.titre-1 img {
    width: 20vw;
}


.conteneur {
    text-align: left;
}

.conteneur h1,
.conteneur img {
    display: inline;
    vertical-align: middle;
    line-height: normal;
    font-family: Moderat-Regular, sans-serif;
}

.titre-1 p {
    font-family: Addington-Thin-Italic, serif;
    text-align: right;
}


.part-3 span,
.conteneur span {
    font-family: Addington-Regular-Italic, serif;
}

.part-3,
.commentaire {
    width: 85vw;
    margin: auto;
}

.part-3 h1 {
    margin-bottom: 2rem;
    line-height: normal;
}

.part-3 p {
    line-height: 30px;
}

.part-3 img {
    height: 300px;
    padding-top: 4rem;
}

.bouton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.video{
    margin: auto;
    width: 85vw;
}

.video img{
    height: 80vh;
}

.commentaire {
    padding-top: 5rem;
}

.claude {
    font-family: Addington-Regular-Italic, serif;
}


/* commentaires */

.commentaire h2,
.form-group {
    margin-bottom: 20px;
}


input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    resize: none;
}

button[type="submit"] {
    color: #fff;
    background-color: #2B211F;
    cursor: pointer;
}

@media screen and (min-width: 375px) {
    .titre-1 {
        width: 300px;
    }

    .titre-1 img {
        width: 108px;
    }

}




@media screen and (min-width: 768px) {
    .part-3 {
        display: flex;
        align-items: center;
        height: 90vh;
    }

    .commentaire {
        max-width: 650px;
    }

    .titre-1 {
        width: 500px;

    }

    .titre-1 img {
        width: 160px;
        padding-left: 10px;
    }


}


@media screen and (min-width: 1024px) {
    .part-3 img {
        height: 60vh;
        width: 40vw;
    }

    .part-3 div {
        padding: 5rem;
    }
}

@media screen and (min-width: 1200px) {
    .titre-1 {
        width: 590px;
    }

    .titre-1 img {
        width: 200px;
    }

    .titre-1 p{
        font-size: 1.539rem;
        padding-top: 10px;
    }

}


@media screen and (min-width: 1900px) {
    .titre-1 {
        width: 970px;
    }

    .titre-1 img {
        width: 350px;
    }

    .titre-1 p{
        font-size: 2.5rem;
        padding-top: 20px;
    }

.part-3 img {
    height: 70vh;
}

}