footer {
    text-transform: uppercase;
    background-color: var(--text-color);
    color: var(--bc-color);
    font-family: Darker-Grotesque-Regular, sans-serif;
}

footer h1 {
    margin-bottom: 1rem;
    text-transform: capitalize;
    font: 1.563rem Darker-Grotesque, sans-serif;
}

.footer_nav_aside div:nth-child(1) {
    margin-top: 2rem;
}

.footer_nav_aside {
    font-size: 1.125rem;
    line-height: 30px;
}

.socials_img img {
    padding-top: 1rem;
}

.footer_socials {
    border-bottom: solid white 1px;
}

.footer_socials p {
    text-align: right;
}

.desk_footer {
    display: none;
    padding: 2rem 3rem;
}

.footer_mobile {
    margin-top: 2rem;
    padding: 2rem;
}

.footer_nav_main a {
    font-size: 1rem;
}

.footer_nav aside:last-child {
    font-size: 0.75rem;
    display: flex;
    justify-content: space-between;
}

.footer_socials p {
    margin: 10px 0 15px;
}

@media screen and (min-width: 750px) {
    .footer_mobile {
        display: none;
    }

    .desk_footer {
        display: block;
    }

    .footer_nav {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: solid 1px rgb(122, 122, 122);
        padding-bottom: 1rem;
    }

    .desk_socials_img {
        text-align: right;
    }


    .desk_socials_img img {
        width: 24vw;
        height: 10vw;
    }

    .desk_socials p {
        width: fit-content;
        margin-left: auto;
    }

    .desk_socials {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
    }

    .footer_main_nav {
        display: flex;
        gap: 5rem;
    }

   .politique{
    display: grid;
   }


    .footer_main_nav a{
        font-size: 1.125rem;
    }
}