/* menu burger */

.menu-icon {
    display: block;
    position: relative;
    z-index: 4;
    width: 25px;
    cursor: pointer;
}

.menu-icon input {
    display: none;
}

.menu-icon span {
    display: block;
    height: 1.5px;
    width: 100%;
    background: #ffffff;
    opacity: 1;
    margin-bottom: 7px;
    transition: 0.3s ease-in-out;
}

.menu-icon span {
    transform-origin: left center;
}

.menu-icon input:checked~span {
    background: var(--text-color);
    margin-bottom: 30%;
}

.menu-icon input:checked~span:nth-of-type(1) {
    transform: rotate(45deg);
}

.menu-icon input:checked~span:nth-of-type(2) {
    opacity: 0;
}

.menu-icon input:checked~span:nth-of-type(3) {
    transform: rotate(-45deg);
}

.menu-burger ul {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:var(--home-color); 
    z-index: 3;
    padding: 0 2rem;
    justify-content: center;
    flex-direction: column;
}



.menu-burger li {
    margin-bottom: 20px;
}

.menu-burger a {
    color: var(--text-color);
    text-decoration: none;
    font: 1.875rem Darker-Grotesque-SemiBold, sans-serif;
    text-transform: uppercase;
}

.menu-icon input:checked ~ .menu-burger {
    display: block;
    transform: translateY(0);
}

.logo{
    width: 25px;
    z-index: 2;
}


.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    padding: 2rem;
    color: var(--grey-color);
}

.navigation-desk {
    display: none;
}

.navigation-desk nav{
    display: flex;
    justify-content: space-between;
    width: 94vw;
    height: 45px;
    z-index: 2;
}


.navigation-desk li:first-child{
    margin-left: 20px;
}

.navigation-desk li{
    margin-right: 20px;
    text-transform: uppercase;
    font: 0.75rem Moderat-Medium, sans-serif;
}

.navigation-desk ul {
    display: flex;
    align-items: center;
}

.language button{
    position: absolute;
    bottom: 3rem;
}

.billeterie div{
    padding: 0;
}

#default-image, #hover-image {
height: 44px;
width: 120px;
}


.billet{
    margin-right: 20px;
}

.mute{
    width: 55px;
}

@media screen and (min-width: 1024px) {

   .mobile{
    display: none;
   }

    .navigation-mobile {
        display: none;
    }

    .navigation-desk {
        display: flex;
        align-items: center;
    }

}