.infos{
    margin: auto;
    margin-top: 8rem;
    padding: 20px;
    width: 27vw;
    height: 60vh;
    border: 1px solid #000000;
}

.infos h1{
    font-size: 1.5rem;
    text-align: center;
}

.noms{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.nom{
    display: flex;
    flex-direction: column;
}

.prenom{
    display: flex;
    flex-direction: column;
}

.email{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.submit-btn{
    background-color: #353535;
    border: none;
    padding: 10px;
    color: white;
    margin: auto;
    margin-top: 10px;
}