@font-face {
    font-family: 'Moderat-Light';
    src: url('../fonts/moderat/Moderat-Light.woff') format('woff'), url('../fonts/moderat/Moderat-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Moderat-Regular';
    src: url('../fonts/moderat/Moderat-Regular.woff') format('woff'), url('../fonts/moderat/Moderat-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Moderat-Medium';
    src: url('../fonts/moderat/Moderat-Medium.woff2') format('woff'), url('../fonts/moderat/Moderat-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Moderat-Serif-Bold';
    src: url('../fonts/moderat/Moderat-Serif-Trial-Bold.woff') format('woff'), url('../fonts/moderat/Moderat-Serif-Trial-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Moderat-Serif-Semibold';
    src: url('../fonts/moderat/Moderat-Serif-Trial-Semibold.woff') format('woff'), url('../fonts/moderat/Moderat-Serif-Trial-Semibold.woff2') format('woff2');
}

@font-face {
    font-family: 'Moderat-Serif-Regular';
    src: url('../fonts/moderat/Moderat-Serif-Trial-Regular.woff') format('woff'), url('../fonts/moderat/Moderat-Serif-Trial-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Addington-Regular-Italic';
    src: url('../fonts/addington/AddingtonCF-RegularItalic.woff') format('woff'), url('../fonts/addington/AddingtonCF-RegularItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Addington-Thin-Italic';
    src: url('../fonts/addington/AddingtonCF-ThinItalic.woff') format('woff'), url('../fonts/addington/AddingtonCF-ThinItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Darker-Grotesque';
    src: url('../fonts/darkergrotesque/DarkerGrotesque-Medium.woff') format('woff'), url('../fonts/darkergrotesque/DarkerGrotesque-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Darker-Grotesque-Regular';
    src: url('../fonts/darkergrotesque/DarkerGrotesque-Regular.woff') format('woff'), url('../fonts/darkergrotesque/DarkerGrotesque-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Darker-Grotesque-SemiBold';
    src: url('../fonts/darkergrotesque/DarkerGrotesque-SemiBold.woff') format('woff'), url('../fonts/darkergrotesque/DarkerGrotesque-SemiBold.woff2') format('woff2');
}


.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}


:root {
    --bc-color: #EFEDE5;
    --text-color: #2B211F;
    --grey-color: #353535;
    --home-color: #BEC7B6;
    --nav-btn-color: #143c3c;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 10px; 
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
}

h1{
    font-family: Moderat-Regular, sans-serif;
    /* font-size: 3rem pour 1024px; c pour me rappeler pcq ça marche pas */
}


body {
    margin: 0;
    font-size: 1.3rem;
    background-color: var(--bc-color);
}

body.menu-ouvert {
    overflow: hidden;
}

.body {
    padding: 1rem;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Fil d'ariane */
.breadcrumb-1{
    margin: 10rem 0 4rem 2rem;
    font-size: 1rem;
}

.breadcrumb-1 ul {
    display: flex;
    margin-right: 5px;
    text-transform: uppercase;
}

.breadcrumb-1 li:first-child {
    font-family: Darker-Grotesque-Regular, serif;

}
.breadcrumb-1 li:last-child {
    font-family: Darker-Grotesque-SemiBold, serif;

}


/* Bouton ticket */
.bouton div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.texte {
    color: var(--bc-color);
    font: 1rem Darker-Grotesque, sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    z-index: 1;
}

.bouton img {
    width: 140px;
}

button{
    background-color: transparent;
    border: transparent;
    color: var(--text-color);
}








@media screen and (min-width: 768px){

    .bouton div{
        width: 160px;
    }

    .breadcrumb-1{
        margin: 8rem 0 4rem 4rem;
        font-size: 1rem;
    }
}
