@font-face {
    font-family: 'Moderat-Light';
    src: url('../fonts/moderat/Moderat-Light.woff') format('woff'), url('../fonts/moderat/Moderat-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Moderat-Regular';
    src: url('../fonts/moderat/Moderat-Regular.woff') format('woff'), url('../fonts/moderat/Moderat-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Moderat-Medium';
    src: url('../fonts/moderat/Moderat-Medium.woff2') format('woff'), url('../fonts/moderat/Moderat-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Moderat-Medium-Italic';
    src: url('../fonts/moderat/Moderat-Medium-Italic.woff') format('woff'), url('../fonts/moderat/Moderat-Medium-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Moderat-Serif-Bold';
    src: url('../fonts/moderat/Moderat-Serif-Trial-Bold.woff') format('woff'), url('../fonts/moderat/Moderat-Serif-Trial-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Moderat-Serif-Semibold';
    src: url('../fonts/moderat/Moderat-Serif-Trial-Semibold.woff') format('woff'), url('../fonts/moderat/Moderat-Serif-Trial-Semibold.woff2') format('woff2');
}

@font-face {
    font-family: 'Moderat-Serif-Regular';
    src: url('../fonts/moderat/Moderat-Serif-Trial-Regular.woff') format('woff'), url('../fonts/moderat/Moderat-Serif-Trial-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Addington-Regular-Italic';
    src: url('../fonts/addington/AddingtonCF-RegularItalic.woff') format('woff'), url('../fonts/addington/AddingtonCF-RegularItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Addington-Thin-Italic';
    src: url('../fonts/addington/AddingtonCF-ThinItalic.woff') format('woff'), url('../fonts/addington/AddingtonCF-ThinItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Darker-Grotesque';
    src: url('../fonts/darkergrotesque/DarkerGrotesque-Medium.woff') format('woff'), url('../fonts/darkergrotesque/DarkerGrotesque-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Darker-Grotesque-Regular';
    src: url('../fonts/darkergrotesque/DarkerGrotesque-Regular.woff') format('woff'), url('../fonts/darkergrotesque/DarkerGrotesque-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Darker-Grotesque-SemiBold';
    src: url('../fonts/darkergrotesque/DarkerGrotesque-SemiBold.woff') format('woff'), url('../fonts/darkergrotesque/DarkerGrotesque-SemiBold.woff2') format('woff2');
}


.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}


:root {
    --bc-color: #EFEDE5;
    --text-color: #2B211F;
    --grey-color: #353535;
    --home-color: #BEC7B6;
    --nav-btn-color: #143c3c;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 10px; 
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
}

h1, h2{
    font-family: Moderat-Regular, sans-serif;
    color: var(--text-color);
}

h1{
    font-size: 1.5rem;
}



p, label, tr, .message{
    font-size: 1rem;
    font-family: Moderat-Regular, sans-serif;
    line-height: 20px;
    color: var(--text-color);
}


body {
    margin: 0;
    font-size: 1.3rem;
    background-color: var(--bc-color);
}

body.menu-ouvert {
    overflow: hidden;
}


button{
    background-color: transparent;
    border: transparent;
    color: var(--text-color);
}

input[type="submit"]{
    cursor: pointer;
  }

.body {
    padding: 1rem;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.font-2 {
    font: 1.66rem Addington-Regular-Italic, serif;
}

/* Fil d'ariane */
.breadcrumb-1{
    padding: 8rem 0 4rem 2rem;
    font-size: 1rem;
}

.breadcrumb-1 ul {
    display: flex;
    margin-right: 5px;
    text-transform: uppercase;
}

.breadcrumb-1 li:first-child {
    font-family: Darker-Grotesque-Regular, serif;

}
.breadcrumb-1 li:last-child {
    font-family: Darker-Grotesque-SemiBold, serif;

}


/* Bouton ticket */
.bouton div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.texte {
    width: 140px;
    cursor: pointer;
    color: var(--bc-color);
    font: 1rem Darker-Grotesque, sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    z-index: 1;
    background-color: transparent;
    border-color: transparent;
}

.bouton img {
    width: 140px !important;
}


/* Header */

/* menu burger */
.menu-icon, .menu-icon-bis {
    display: block;
    position: relative;
    z-index: 4;
    width: 25px;
    cursor: pointer;
}

.menu-icon input, .menu-icon-bis input {
    display: none;
}

.menu-icon span, .menu-icon-bis span {
    display: block;
    height: 1.5px;
    width: 100%;
    opacity: 1;
    margin-bottom: 7px;
    transition: 0.3s ease-in-out;
}

.menu-icon span{
    background: #ffffff;
}

.menu-icon-bis span{
    background: var(--text-color);
}


.menu-icon span, .menu-icon-bis span {
    transform-origin: left center;
}

.menu-icon input:checked~span, .menu-icon-bis input:checked~span {
    background: var(--text-color);
    margin-bottom: 30%;
}

.menu-icon input:checked~span:nth-of-type(1), .menu-icon-bis input:checked~span:nth-of-type(1) {
    transform: rotate(45deg);
}

.menu-icon input:checked~span:nth-of-type(2), .menu-icon-bis input:checked~span:nth-of-type(2) {
    opacity: 0;
}

.menu-icon input:checked~span:nth-of-type(3), .menu-icon-bis input:checked~span:nth-of-type(3) {
    transform: rotate(-45deg);
}

.menu-burger ul {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:var(--home-color); 
    z-index: 3;
    padding: 0 2rem;
    justify-content: center;
    flex-direction: column;
}

.menu-burger li {
    margin-bottom: 20px;
}

.menu-burger a {
    color: var(--text-color);
    text-decoration: none;
    font: 1.875rem Darker-Grotesque-SemiBold, sans-serif;
    text-transform: uppercase;
}

.menu-icon input:checked ~ .menu-burger {
    display: block;
    transform: translateY(0);
}

.logo{
    width: 25px;
    z-index: 2;
}

.icon{
    width: 20px;
}




.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    padding: 2rem;
    color: var(--text-color);
}

.navigation-desk {
    display: none;
}

.navigation-desk nav{
    display: flex;
    justify-content: space-between;
    width: 94vw;
    height: 45px;
    z-index: 2;
}

.navigation-desk li:first-child{
    margin-left: 20px;
}

.navigation-desk li{
    margin-right: 20px;
    text-transform: uppercase;
    font: 0.75rem Moderat-Medium, sans-serif;
}

.navigation-desk ul {
    display: flex;
    align-items: center;
}

.language button{
    position: absolute;
    bottom: 3rem;
}

#default-image, #hover-image {
height: 44px;
width: 120px;
}


.brown{
    margin-right: 20px;
    height: inherit;
}

.mute{
    width: 55px;
}


/* Footer */

footer {
    text-transform: uppercase;
    background-color: var(--text-color);
    color: var(--bc-color);
    font-family: Darker-Grotesque-Regular, sans-serif;
    margin-top: 5rem;
}

footer h1 {
    margin-bottom: 1rem;
    text-transform: capitalize;
    font: 1.563rem Darker-Grotesque, sans-serif;
}

.footer_nav_aside div:nth-child(1) {
    margin-top: 2rem;
}

.footer_nav_aside {
    font-size: 1.125rem;
    line-height: 30px;
}

.socials_img img {
    padding-top: 1rem;
}

.footer_socials {
    border-bottom: solid white 1px;
}

.footer_socials p {
    text-align: right;
}

.desk_footer {
    display: none;
    padding: 2rem 3rem;
}

.footer_mobile {
    margin-top: 2rem;
    padding: 2rem;
}

.footer_nav_main a {
    font-size: 1rem;
}

.footer_nav aside:last-child {
    font-size: 0.75rem;
    display: flex;
    justify-content: space-between;
}

.footer_socials p {
    margin: 10px 0 15px;
}

.desk_socials_img p, .desk_socials p, aside p{
    font-family: Darker-Grotesque-Regular, sans-serif;
    color: var(--bc-color);
}

.desk_socials{
    font-size: 1.1rem;
}


@media screen and (min-width: 768px){

    h1{
        font-size: 2.5rem;
        line-height: 80px;
    }

    .font-2 {
        font-size: 3rem;
    }

    .bouton div{
        width: 160px;
    }

    .breadcrumb-1{
        padding: 8rem 0 4rem 4rem;
        font-size: 1rem;
    }

    .footer_mobile {
        display: none;
    }

    .desk_footer {
        display: block;
    }

    .footer_nav {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: solid 1px rgb(122, 122, 122);
        padding-bottom: 1rem;
    }

    .desk_socials_img {
        text-align: right;
    }


    .desk_socials_img img {
        width: 24vw;
        height: 10vw;
    }

    .desk_socials p {
        width: fit-content;
        margin-left: auto;
    }

    .desk_socials {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
    }

    .footer_main_nav {
        display: flex;
        gap: 3rem;
    }

   .politique{
    display: grid;
   }

    .footer_main_nav a{
        font-size: 1.125rem;
    }
}

@media screen and (min-width: 1024px) {

   .mobile{
    display: none;
   }

    .navigation-mobile {
        display: none;
    }

    .navigation-desk {
        display: flex;
        align-items: center;
    }

    .footer_main_nav {
        gap: 5rem;
    }

}

@media screen and (min-width: 1200px){

    h1 {
        font-size: 3rem;
    }

    .font-2{
        font-size: 3.5rem;
    }

}

@media screen and (min-width: 1920px) {


    h1 {
        font-size: 5rem;
    }

    .font-2{
        font-size: 5.313rem;
    }

    p {
        font-size: 1.563rem;
        line-height: 30px;
    }

}


